.emojiImage {
	transform: translateY(0) !important;
}

.animateOnHover .emojiImage {
	animation-play-state: paused !important;
}

.animateOnHover:hover .emojiImage {
	animation-play-state: running !important;
}
