@keyframes emoji-play {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

.emojiImage {
  animation-name: emoji-play;
}

.animateOnHover .emojiImage {
  animation-name: none;
}

.animateOnHover:hover .emojiImage,
:is(a, button):focus-visible .animateOnHover .emojiImage {
  animation-name: emoji-play;
}
